@keyframes header__square-pic {
  0% {
    transform: rotate(-15deg);
}
100% {
    transform: rotate(360deg);
}
}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  position: absolute;
  background-color:#2f80ed;
  right: 0;
  animation: header__square-pic 20s linear infinite;
  transform: rotate(-15deg);
}

