@keyframes kaufman__triangle {
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  animation: header__square-pic 20s linear infinite;
  transform: rotate(0deg);
}
