.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #F2F2F2;
  align-items: center;
}

.header__title {
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin: 0 0 0 64px;
}

.header__subtitle {
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  left: 64px;
  bottom: 30px;
  position: absolute;
}

.logo {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  top: 30px;
  width: 154px;
  height: 31px;
  left: 64px;
  position: absolute;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
  display: block;
}

.header__main-ilustration {
  position: absolute;
  width: 756px;
  height: 608px;
  z-index: 4;
  bottom: 0;
  right:0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  top: 64px;
  position: absolute;
  background-color:#2f80ed;
  right: 0;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:100px;
  margin-left: 0;
  margin-right: 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2F80ED;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  row-gap: 30px;
  display: flex;
  flex-direction: column;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.table {
  margin:60px 0;
  flex-wrap: wrap;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  list-style: none;
  row-gap: 60px;
  padding: 0;
  z-index: 4;
}

.table__heading {
  line-height: 1.15px;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell {
  width: 250px;
}

.table_theme_dark {
  margin-top: 90px;
  row-gap: 80px;
}

.table__heading_theme_dark {
  width: 250px;
  color: white;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  z-index: 3;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
}

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  background-color: #F2F2F2;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 790px;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  margin: 100px auto 70px;
  text-align: center;
  margin-top: 100px 0 70px;
}

.feynman__subtitle {
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__link {
  top: 50%;
  right: 48px;
  height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  color: #2F80ED;
  text-decoration: none;
}

.kaufman {
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 790px;
  background-color: #000000;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.section__title_theme_dark {
  margin-bottom: 0;
  margin-top: 90px;
  color: white;
}

.section__subtitle_theme_dark {
  margin: 20px 0;
  color: white;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer{
  display: flex;
  background-color: #000000;
  padding: 60px 0 40px;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #F2F2F2;
  margin: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #F2F2F2;
  margin-left: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column_content_about {
  row-gap: 20px;
}

.footer__column_content_social {
 row-gap: 20px;
}

.footer__column-link {
text-decoration: none;
color: white;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__list {
  color: #F2F2F2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column_content_copyright{
  justify-content: space-between;
  flex-basis: 711px;
}
